.home-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home-btn-wrapper {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 5rem;
}

.home-btn {
    padding: 0.5rem 1rem;
    background-color: inherit;
    border-radius: 4px;
    font-size: larger;
    border: none;
    color: var(--poke-yellow);
    background-color: var(--poke-blue);
    cursor: pointer;
}

.home-btn:hover {
    color: var(--poke-yellow);
    background-color: var(--poke-light-blue);
}

.not-allowed {
    cursor: not-allowed;
}