.detail-wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.detail-img {
    width: 240px;
    height: 240px;
}
.detail-name {
    letter-spacing: 3px;
    font-variant-caps: all-petite-caps;
    font-size: 2rem;
    font-style: oblique;
}

.detail-height {
    font-size: 1.5rem;
    margin: 1rem;
}
.detail-weight {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.detail-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail-type-heading {
    padding: 0.5rem 1rem;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-family:cursive;
    font-weight: 500;
    letter-spacing: 2px;
}

.detail-type {
    background-color: var(--poke-blue);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1.5rem;
    font-family:cursive;
    font-weight: 500;
    letter-spacing: 2px;
}


.detail-type-wrapper {
    display: flex;
    gap: 1rem;
}

@media (max-width: 322px) {
    .detail-wrapper {
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }
    .detail-type-wrapper {
        display: flex;
        gap: 0rem;
    }

    .detail-type-heading {
        padding: 0.5rem 1rem;
        color: rgb(0, 0, 0);
        font-size: 1.5rem;
        font-family:cursive;
        font-weight: 500;
        letter-spacing: 0px;
    }
}