.nav-wrapper {
    color: black;
    background-color: var(--poke-yellow);
    display: flex;
    position: sticky;
    top: 0;
    gap: 2rem;
}


.nav-link {
    font-size: 2rem;
    margin-left: 2rem;
    padding: 0.5rem;
    flex: 0.2;
    cursor: pointer;
    align-self: center;
}

.nav-logo {
    height: 45px;
    filter: drop-shadow(0 0 5px var(--poke-blue));
    will-change: filter;
    transition: filter 300ms;
}

.nav-logo:hover {
    filter: none;
}

.nav-input-wrapper {
    display: flex;
    gap: 10px;
    flex: 0.8;
}

.nav-input {
    flex: 0.8;
    font-size: 1rem;
    padding: 0.2rem;
    margin: 13px;
    height: 3rem;
    border: 2px solid var(--poke-blue);
    border-radius: 4px;
    text-align: center;
    outline: 3px solid transparent;
    background-color: white;
}

.nav-input:focus {
    outline-color: var(--poke-blue);
}

.nav-input-btn {
    background-color: var(--poke-blue);
    align-self: center;
    padding: 0.6rem;
    border-radius: 4px;
    border: 1px solid transparent;
    color: white;
    font-weight: 500;
    font-size: large;
    cursor: pointer;
}

.not-allowed {
    cursor: not-allowed;
}

.nav-input-btn:hover {
    background-color: var(--poke-light-blue);
}

@media (max-width: 428px) {
    .nav-wrapper {
        color: white;
        background-color: var(--poke-yellow);
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0;
        gap: 0;
        justify-content: space-around;
        padding: 2px;
    }
    
    
    .nav-link { 
        margin-top: 0.6rem;
        padding: 0;
        flex: 0.2;
        margin-left: 0.4rem;
    }
    
    .nav-logo {
        height: 2.5rem;
        filter: drop-shadow(0 0 5px var(--poke-blue));
        will-change: filter;
        transition: filter 300ms;
    }
    
    .nav-logo:hover {
        filter: none;
    }
    
    .nav-input-wrapper {
        margin: 0.5rem;
        padding: 0;
        gap: 0;
        flex: 0.8;
        justify-content: space-around;
    }
    
    .nav-input {
        flex: 0.7;
        border: 1px solid var(--poke-blue);
        border-radius: 4px;
        text-align: center;
        outline: 2px solid transparent;
        background-color: white;
        margin: 4px;
        padding: 0;
    }
    
    .nav-input:focus {
        outline-color: var(--poke-blue);
    }
    
    .nav-input-btn {
        flex: 0.2;
        background-color: var(--poke-blue);
        align-self: center;
        padding: 0.65rem;
        border-radius: 4px;
        border: 1px solid transparent;
        color: white;
        margin: 0;
        text-align: center;
    }
}
@media (max-width: 322px) {
    .nav-wrapper {
        color: white;
        background-color: var(--poke-yellow);
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0;
        gap: 0;
    }
    
    
    .nav-link { 
        margin: 0;
        padding: 0;
        flex: 1;
        margin-left: 0.2rem;
    }
    
    .nav-logo {
        margin-top: 1rem;
        height: 2rem;
        /* width: 2.2rem; */
        filter: drop-shadow(0 0 5px var(--poke-blue));
        will-change: filter;
        transition: filter 300ms;
    }
    
    .nav-logo:hover {
        filter: none;
    }
    
    .nav-input-wrapper {
        margin: 0;
        padding: 0.2rem;
        gap: 0;
        flex: 0.1;
        justify-content: space-around;
    }
    
    .nav-input {
        border: 1px solid var(--poke-blue);
        border-radius: 4px;
        text-align: center;
        outline: 1px solid transparent;
        background-color: white;
        margin: 4px;
        padding: 0;
        height: 2.5rem;
    }
    
    .nav-input:focus {
        outline-color: var(--poke-blue);
    }
    
    .nav-input-btn {
        background-color: var(--poke-blue);
        align-self: center;
        padding: 0.4rem;
        border-radius: 4px;
        border: 1px solid transparent;
        color: white;
        text-align: center;
    }
}
